








@model UserModel
@{
    ViewData["Title"] = "message ";
}



<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 ">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" placeholder="Search..." name="" class="form-control search">

                        <div class="input-group-prepend">
                            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <ui class="friends-list">
                        <li class="active" style="color:green">
                            <div>
                                @*image*@
                                <div class="user_info ">
                                    <span>Jakob</span>
                                    <p>Jakob is online</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex bd-highlight">
                                <div>@*image*@</div>
                                <div class="user_info">
                                    <span>Meles</span>
                                    <p>Meles left 7 mins ago</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex bd-highlight">
                                <div class="img">
                                    @*<image*@
                                    <span class="online_icon"></span>
                                </div>
                                <div class="user_info">
                                    <span>Tomas</span>
                                    <p>Tomas is online</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    @*image*@
                                    <span class="online_icon offline"></span>
                                </div>
                                <div class="user_info">
                                    <span>Pontus</span>
                                    <p>pontus left 30 mins ago</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex bd-highlight">
                                <div class="img">
                                    @*<image >*@
                                    <span class="online_icon offline"></span>
                                </div>
                                <div class="user_info">
                                    <span>Jonathan</span>
                                    <p>Jonathan left 50 mins ago</p>
                                </div>
                            </div>
                        </li>
                    </ui>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-md-8 col-xl-6 ">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img">
                            @*<img *@
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span>Chat with Jakob</span>

                        </div>

                    </div>

                </div>
                <div class="card-body msg_card_body">
                    <div class="d-flex justify-content-start mb-4">
                        <div class="img_msg">
                            @*<image *@
                        </div>
                        <div class="msg_cotainer">
                            Hi, how are you jakob?
                            <span class="msg_time">8:40 AM, Today</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mb-4">
                        <div class="msg_cotainer_send">
                            Hi Meles i am good what abt you?
                            <span class="msg_time_send">8:55 AM, Today</span>
                        </div>
                        <div class="img_cont_msg">

                        </div>
                    </div>
                    <div class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg">
                            @*<image*@
                        </div>
                        <div class="msg_cotainer">
                            I am good too, are you coming to school  tomorrow
                            <span class="msg_time">9:00 AM, Today</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mb-4">
                        <div class="msg_cotainer_send">
                            Yes i will come.
                            <span class="msg_time_send">9:05 AM, Today</span>
                        </div>

                    </div>
                    <div class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg">
                            @*image*@
                        </div>
                        <div class="msg_cotainer">
                            Good ! it will be nice to see you at school.
                            <span class="msg_time">9:07 AM, Today</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mb-4">
                        <div class="msg_cotainer_send">
                            Thanks, see you then.
                            <span class="msg_time_send">9:10 AM, Today</span>
                        </div>

                    </div>
                    <div class="d-flex justify-content-start mb-4">
                        @*<div class="img_cont_msg">
                                <img >
                            </div>*@
                        <div class="msg_cotainer">
                            Bye, see you
                            <span class="msg_time">9:12 AM, Today</span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">

                        <textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
                        <div class="input-group-append">
                            <button class="input-group-text btn-primary">send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*@model (UserModel, UserModel)
    @{
        UserModel me =  @Model.Item1;
        UserModel notMe = @Model.Item2;
        ViewData["Title"] = $"Du chattar med {notMe.Firstname}";
    }
    <div id="page_message">
        <p>
            You are chatting with @notMe.Firstname
            <img class="img is-32x32" src="@notMe.Images[0].Url"/>
        </p>

        <input type="text" />
    </div>*@


