@{
    ViewData["Title"] = "Search For User";
}





<section id="page_search" class="m-1">

    <div class="input-group">
        <input type="text" id="input_usersearch" class="form-control" placeholder="Söka användare">
        <div class="input-group-append">
            <button id="search_button" class="btn btn-secondary" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>

    <ul id="search_results">
    </ul>
</section>

@*event handdler to a button and fetch back  the searched string*@
<script>
    var searchButton = document.querySelector('#search_button')
    var inputUserSearch = document.querySelector('#input_usersearch')
    var searchResults = document.querySelector('#search_results')

    var clearList = function () {
        while (searchResults.firstChild) {
            searchResults.removeChild(searchResults.lastChild);
        }
    }


    var displayArray = function (arr) {

        arr.map(item => {
            console.log(item)

            var a = document.createElement('a')
            var li = document.createElement('li')
            var span = document.createElement('span')
            var img = document.createElement('img')

            a.innerText = "Gå till profil"
            a.href = `/profile/user/${item.id}`
            span.innerText = `${item.firstname} ${item.surname}, ${moment().diff(item.age, 'years')} år`
            img.classList.add("img",'is-128x128')
            img.src = item.images.shift().url

            li.append(a)
            li.append(span)
            li.append(img)
            searchResults.append(li)
        })
    }

    searchButton.addEventListener('click', (ev) => {

        fetch('/api/search?q=' + inputUserSearch.value, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: "GET"
        })
            .then(res => res.json())
            .then(json => displayArray(json))
            .catch(err => console.error(err))
    })

</script>
