@{
    ViewData["Title"] = "--";
}


<div id="page_search">
    <div class="search-container p-5 container">
        <div class="card justify-content-center" style="width: 25rem;">
            <img src="favicon.ico" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tindra</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">27 år</li>
                <li class="list-group-item">Södermanland</li>
                <li class="list-group-item">Kvinna</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Matcha</a>
            </div>
        </div>
    </div>
</div>

