@{
    ViewData["Title"] = "Search For User";
}

<section id="page_search" class="m-1">

    <div class="input-group">
        <input type="text" id="input_usersearch" class="form-control" placeholder="Söka användare">
        <div class="input-group-append">
            <button id="search_button" class="btn bg-primary text-white" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>
        @*<div class="dropdown-menu active">
            <a class="dropdown-item" href="#">Another link</a>
        </div>*@
    </div>

    <ul id="search_results">
    </ul>
</section>

@*event handdler to a button and fetch back  the searched string*@
<script>
    var searchButton = document.querySelector('#search_button')
    var inputUserSearch = document.querySelector('#input_usersearch')
    var searchResults = document.querySelector('#search_results')
    //var dropDownMenu = document.querySelector('.dropdown-menu') 

    var clearList = function () {
        while (searchResults.firstChild) {
            searchResults.removeChild(searchResults.lastChild);
        }
    }


    var displayArray = function (arr) {

        arr.map(item => {
            var li = document.createElement('li')
            var span = document.createElement('span')
            var img = document.createElement('img')
      
            var userProfileUrl = `/profile/user/${item.id}`

            li.addEventListener('click', function (ev) {
                window.location.replace(userProfileUrl)
            })

            li.classList.add('is-clickable', 'list-item')
            img.classList.add("img", 'is-48x48', 'is-clickable', 'search-image')
            span.innerText = `${item.firstname} ${item.surname}, ${moment().diff(item.age, 'years')} år`
            span.classList.add("ml-3")
            img.src = item.images.shift().url

            li.append(img)
            li.append(span)
            searchResults.append(li)
        })
    }

    const getAllUserInterests = (query, callback = console.log, limit = 5) => {
        fetch(`/api/interest/${query}?limit=${limit}`, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: "GET"
        })
            .then(res => res.json())
            .then(json => callback(json))
            .catch(err => console.error(err))
    }

    //const addDropDownChild = (str) => {
    //    var a = document.createElement('a')
    //    a.classList.add('dropdown-item')
    //    a.textContent = str
    //    dropDownMenu.append(a)
    //}

    //inputUserSearch.addEventListener('focus', (ev) => {
    //    dropDownMenu.classList.add('show')
    //    getAllUserInterests(inputUserSearch.value, (arr) => {
    //        arr.map(item => addDropDownChild)
    //    })
    //})

    searchButton.addEventListener('click', (ev) => {
        clearList()
        fetch('/api/search?q=' + inputUserSearch.value, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: "GET"
        })
            .then(res => res.json())
            .then(json => displayArray(json))
            .catch(err => console.error(err))
    })

</script>
