@{
    ViewData["Title"] = "Login";
}

<<div>
    <div class="container">
        <div class="Login-container p-5 container">

            <p class="h4">Logain till  Sinder</p>

            <div class="input-group mb-3" ">

                <input id="email" type="email" class="form-control" name="email" placeholder="skriv ditt email" aria-label="email" aria-describedby="email" style="width:70%">
            </div>

            <div class="input-group mb-3">

                <input type="password" minlength="6" maxlength="20" class="form-control" name="password" placeholder="skriv ditt lösenord" sstyle="width:70%">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <div class="input-group mb-5 d-flex justify-content-lg-center">
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
            </div>

        </div>
    </div>
</div>

