
@{
    ViewData["Title"] = "Registrera dig";
}

@* Register boxes *@
<article id="page_register" class="card-body mx-auto" style="max-width: 400px;">
    <p class="h4 m-md-4 text-center">Registrera dig hos Sinder</p>
    <form>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-envelope" style=" color: #eb6864"></i> </span>
            </div>
            <input type="text" name="email" class="form-control" placeholder="Email">
            <div class="invalid-feedback">Ange en email med rätt format.</div>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-signature" style=" color: #eb6864"></i> </span>
            </div>

            <input type="text" name="firstname" class="form-control" placeholder="Förnamn">
            <input type="text" name="surname" class="form-control ml-1" placeholder="Efternamn">
            <div class="invalid-feedback">Ange ett för och efternamn.</div>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-clock" style=" color: #eb6864"></i> </span>
            </div>
            <input type="date" name="age" class="form-control" placeholder="Ålder">
            <div class="invalid-feedback">Ange en korrekt ålder.</div>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-venus-mars" style=" color: #eb6864"></i> </span>
            </div>
            <select class="form-control" name="gender" id="gender">
                <option selected disabled>Välj Kön...</option>
                <option value="Man">Man</option>
                <option value="Kvinna">Kvinna</option>
            </select>
            <div class="invalid-feedback">Ange Kön.</div>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-map-marker-alt" style=" color: #eb6864"></i> </span>
            </div>
            <!--25 landskap nedanför-->
            <select class="form-control" name="location" id="location">
                <option selected disabled>Välj Landskap..</option>
                <option value="Blekinge">Blekinge</option>
                <option value="Bohuslän">Bohuslän</option>
                <option value="Dalarna">Dalarna</option>
                <option value="Dalsland">Dalsland</option>
                <option value="Gotland">Gotland</option>
                <option value="Gästrikland">Gästrikland</option>
                <option value="Halland">Halland</option>
                <option value="Hälsingland">Hälsingland</option>
                <option value="Härjedalen">Härjedalen</option>
                <option value="Jämtland">Jämtland</option>
                <option value="Lappland">Lappland</option>
                <option value="Medelpad">Medelpad</option>
                <option value="Norrbotten">Norrbotten</option>
                <option value="Närke">Närke</option>
                <option value="Skåne">Skåne</option>
                <option value="Småland">Småland</option>
                <option value="Södermanland">Södermanland</option>
                <option value="Uppland">Uppland</option>
                <option value="Värmland">Värmland</option>
                <option value="Västerbotten">Västerbotten</option>
                <option value="Västergötland">Västergötland</option>
                <option value="Västmanland">Västmanland</option>
                <option value="Ångermanland">Ångermanland</option>
                <option value="Öland">Öland</option>
                <option value="Östergötland">Östergötland</option>
            </select>
            <div class="invalid-feedback">Välj ett landskap.</div>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-camera-retro" style=" color: #eb6864"></i> </span>
            </div>
            <input type="file" name="image" accept=".png,.jpg,.jpeg,.gif,.tif,.tiff,.bmp">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-lock" style=" color: #eb6864"></i> </span>
            </div>
            <input type="password" name="password" class="form-control" placeholder="Lösenord">
            <div class="invalid-feedback">Lösenordet måste bestå av minst 6 tecken</div>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-lock" style=" color: #eb6864"></i> </span>
            </div>
            <input type="password" name="confirm-password" class="form-control" placeholder="Bekräfta Lösenord">
            <div class="invalid-feedback">Lösenordet måste bestå av minst 6 tecken</div>
        </div>
        @* Button submit *@
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" disabled> Registrera  </button>
        </div>
    </form>
</article>

<script>



    //var [email, firstname, surname, age, location, image, password, confirmPassword] = [...document.querySelectorAll('input[name]')].map(el => el.value)
    


    var email = document.querySelector('input[name="email"]')
    email.addEventListener('input', (ev) =>
    {
        if (!isValidEmail(ev.target.value))
        {
            ev.target.classList.add("is-invalid")
        }
        if (isValidEmail(ev.target.value) )
        {
            ev.target.classList.remove("is-invalid")
            ev.target.classList.add("is-valid")
        }
        validateForm()
    })

    var firstname = document.querySelector('input[name="firstname"]')
    firstname.addEventListener('input', (ev) => {
        if (ev.target.value.length < 2)
        {
            ev.target.classList.add("is-invalid")
        }
        else
        {
            ev.target.classList.remove("is-invalid")
            ev.target.classList.add("is-valid")
        }
        validateForm()
    })

    var surname = document.querySelector('input[name="surname"]')
    surname.addEventListener('input', (ev) => {
        if (ev.target.value.length < 2) {
            ev.target.classList.add("is-invalid")
        }
        else {
            ev.target.classList.remove("is-invalid")
            ev.target.classList.add("is-valid")
        }
        validateForm()
    })

    var age = document.querySelector('input[name="age"]')
    age.addEventListener('input', (ev) => {

        if (new Date(ev.target.value) === "Invalid Date") {
            ev.target.classList.add("is-invalid")
        }
        if (new Date(ev.target.value) !== "Invalid Date")
        {
            ev.target.classList.remove("is-invalid")
            ev.target.classList.add("is-valid")
        }
        validateForm()
    })

    var gender = document.querySelector('select[name="gender"]')
    gender.addEventListener('input', (ev) => {
        if (ev.target.value !== "Man" || ev.target.value !== "Kvinna") {
            ev.target.classList.add("is-invalid")
        }
        if (ev.target.value === "Man" || ev.target.value === "Kvinna") {
            ev.target.classList.remove("is-invalid")
            ev.target.classList.add("is-valid")
        }
        validateForm()
    })

    var location2 = document.querySelector('select[name="location"]')
    location2.addEventListener('input', (ev) => {
        if (ev.target.value.length < 3)
        {
            ev.target.classList.add("is-invalid")
        }
        else
        {
            ev.target.classList.remove("is-invalid")
            ev.target.classList.add("is-valid")
        }
        validateForm()
    })

    var password = document.querySelector('input[name="password"]')
    password.addEventListener('input', (ev) => {
        if (ev.target.value.length < 6) {
            ev.target.classList.add("is-invalid")
        }
        else {
            ev.target.classList.remove("is-invalid")
            ev.target.classList.add("is-valid")
        }
        validateForm()
    })

    var confirmpassword = document.querySelector('input[name="confirm-password"]')
    confirmpassword.addEventListener('input', (ev) => {
        if (ev.target.value.length < 6) {
            ev.target.classList.add("is-invalid")
        }
        else {
            ev.target.classList.remove("is-invalid")
            ev.target.classList.add("is-valid")
        }
        validateForm()
    })



    var ageCalender = document.querySelector('input[type="date"]')
    ageCalender.setAttribute("max", "2002-12-31")
    ageCalender.setAttribute("min", "1900-01-01")


    var submitButton = document.querySelector('button[type="submit"]')

    function validateForm() {
        var invalidElements = [...document.querySelectorAll('.is-invalid')];

        var inputElements = [...document.querySelectorAll('input, select')];

        var isValid =true

        for (var i = 0; i < inputElements.length; i++) {
            const el = inputElements[i]

            if (el.tagName === 'INPUT') {
                isValid = el.value.length > 0 ? true : false
            }
            else if (el.tagName === 'SELECT' ) {
                isValid = el.options.selectedIndex > 0 ? true : false
            }
            if (!isValid)
                break;
        }
        if (invalidElements.length > 0 || !isValid) {
            submitButton.setAttribute('disabled', '')
        }
        else {
            submitButton.removeAttribute('disabled')
        }
    }


    submitButton.addEventListener('click', (ev) => {
        ev.preventDefault()
        

        var [email, firstname, surname, age, image, password, confirmPassword] = [...document.querySelectorAll('input[name]')].map(el => el.value)

        var e = document.getElementById("gender")
        var gender = e.options[e.selectedIndex].value
        var d = document.getElementById("location")
        var location = d.options[d.selectedIndex].value
        // { Email: 'user@email.com', Password: 'passypassy' }
        var dataToSend = {
            Password: password,
            Firstname: firstname,
            Surname: surname,
            Email: email,
            Image: image,
            Age: new Date(age),
            Gender: gender,
            Location: location
        }

        if (gender == "Välj Kön...") {
            alert("Välj ett kön!")
            return;
        }
        if (confirmPassword !== password) {
            alert("Lösenord stämmer inte överens")
            return;
        }

        fetch('/api/register', {
            method: 'POST',
            body: JSON.stringify(dataToSend),
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        })
            .then(res => res.json())
            .then(data => {
                Cheesebox.show(data.Message)
            })
            .catch(err => console.error(err));
    })

</script>
