@{
    ViewData["Title"] = "Registrera dig";
}

<div>
    <div class="container">
        <div class="registration-container p-5 container">

            <p class="h4">Registrera dig hos Sinder</p>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span class="fas fa-envelope fa-lg " style=" color: #eb6864"></span> </span>
                </div>
                <input type="text" class="form-control" name="email" placeholder="email" aria-label="email" aria-describedby="email">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span class="fas fa-signature fa-lg" style=" color: #eb6864"></span> </span>
                </div>
                <input type="text" class="form-control" name="firstname" placeholder="firstname" aria-label="firstname" aria-describedby="firstname">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span class="fas fa-signature fa-lg" style=" color: #eb6864"></span> </span>
                </div>
                <input type="text" class="form-control" name="surname" placeholder="surname" aria-label="surname" aria-describedby="surname">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span class="fas fa-lock fa-lg" style=" color: #eb6864"></span> </span>
                </div>
                <input type="password" minlength="6" maxlength="20" class="form-control" name="password" placeholder="lösenord" aria-label="password" aria-describedby="password">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span class="fas fa-camera-retro fa-lg" style=" color: #eb6864"></span></span>
                </div>
                <input type="file" name="image" accept=".png,.jpg,.jpeg,.gif,.tif,.tiff,.bmp">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span class="fas fa-clock fa-lg" style=" color: #eb6864"></span></span>
                </div>
                <input type="number" name="image" min="18" max="99" value="18">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span class="fas fa-venus-mars fa-lg" style=" color: #eb6864"></span> </span>
                </div>
                <input type="text" class="form-control" name="gender" placeholder="gender" aria-label="gender" aria-describedby="gender">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span class="fas fa-map-marker fa-lg" style=" color: #eb6864"></span> </span>
                </div>
                <input type="text" class="form-control" name="location" placeholder="location" aria-label="location" aria-describedby="location">
            </div>

            <div class="input-group mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg">Registrera</button>
            </div>

        </div>
    </div>
</div>

<script>

    
    var submitButton = document.querySelector('button[type="submit"]')

    submitButton.addEventListener('click', (ev) => {

        var [email, firstName, surName, password, image, age, gender, location] = [...document.querySelectorAll('input[name]')].map(el => el.value)

        // { Email: 'user@email.com', Password: 'passypassy' }
        var dataToSend = {
            Password: password,
            Firstname: firstName,
            Surname:surName,
            Email: email,
            Image: image,
            Age: Math.trunc(age) || 18,
            Gender: gender,
            Location:location
        }

        console.log("dataToSend", dataToSend)
        // todo; email, image and name validations

        fetch('/api/register', {
            method: 'POST',
            body: JSON.stringify(dataToSend),
            headers: {
                'Content-type': 'application/json'
            }
        })
            .then(res => {
                if (res.ok)
                    return res.json();
                return Promise.reject(res);
            })
            .then(data => {
                alert(data.Message)
            })
            .catch(err => console.log(err));
    })

</script>
