@{
    ViewData["Title"] = "Registrera dig";
}

<div>
    <div class="container">
        <div class="registration-container p-5 container">

            <p class="h4">Registrera dig hos Sinder</p>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span class="fas fa-envelope fa-lg"></span> </span>
                </div>
                <input type="text" class="form-control" name="email" placeholder="email" aria-label="email" aria-describedby="email">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span class="fas fa-lock fa-lg"></span> </span>
                </div>
                <input type="password" class="form-control" name="password" placeholder="lösenord" aria-label="password" aria-describedby="password">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span class="fas fa-camera-retro fa-lg"></span></span>
                </div>
                <input type="file" name="image" accept=".png,.jpg,.jpeg,.gif,.tif,.tiff,.bmp">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span class="fas fa-clock fa-lg"></span></span>
                </div>
                <input type="number" name="image" min="18" max="99" value="18">
            </div>

            <div class="input-group mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg">Registrera</button>
            </div>

        </div>
    </div>
</div>

<script>

    var [email, password, image] = [...document.querySelectorAll('input[name]')].map(el => el.value)
    var submitButton = document.querySelector('button[type="submit"]')

    submitButton.addEventListener('click', (ev) => {
        // { Email: 'user@email.com', Password: 'passypassy' }
        var dataToSend = { Password: password, Email: email, Image: image }

        // todo; email, image and name validations

        fetch('/api/register', {
            method: 'POST',
            body: JSON.stringify(dataToSend),
            headers: {
                'Content-type': 'application/json'
            }
        })
            .then(res => {
                if (res.ok)
                    return res.json();
                return Promise.reject(res);
            })
            .then(data => {
                alert(data.Message)
            })
            .catch(err => console.log(err));
    })

</script>
